a{
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
    color: $primey;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.h-100{
    height: 100%;
}
.pr-1{
    padding-right: 8px;
}
.warp{
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../images/layout_banner.png);
    min-height: 720px;
    position: relative;
    color: $primey;
    overflow: hidden;
    // font-family: "Microsoft JhengHei", "PMingLiU", "Arial Unicode MS";
}
header{
    background: $Bg-dark;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    @include mobile{
        position: fixed;
    }
}
.logo{
    background-image: url(../images/logo.png.png);
    width: 90px;
    height: 30px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translate(0,-50%);
}
.menu{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    margin-right: 60px;
    @include mobile{
        display: none;
    }
    &>li{
        width: 110px;
        height: 100%;
        text-align: center;
        & >a{
            line-height: 40px;
        }
        & >a::after{
            content: "";
            background: #939393;
            height: 20px;
            padding-right: 1px;
            margin-left: 25px;
        }
        & a:hover{
            color: $secondary;
        }
    }
}
//內藏的menu
.menubtn1Show{
    display: none;
    margin-left: -25px;
    & a{
        background: $Bg-dark;
        color: $primey;
        width: 100%;
        line-height: 30px;
    }
    & li:nth-child(1) > a::after{
        content: "";
        background: #939393;
        width: 70%;
        height: 1px;
        margin: 0 auto;
        display: block;
    }
    & li:nth-child(2) > a::after{
        content: "";
        background: #939393;
        width: 70%;
        height: 1px;
        margin: 0 auto;
        display: block;
    }
}
.menubtn2Show{
    display: none;
    margin-left: -25px;
    & a{
        background: $Bg-dark;
        color: $primey;
        width: 100%;
        line-height: 30px;
    }
    & li:nth-child(1) > a::after{
        content: "";
        background: #939393;
        width: 70%;
        height: 1px;
        margin: 0 auto;
        display: block;
    }
    & li:nth-child(2) > a::after{
        content: "";
        background: #939393;
        width: 70%;
        height: 1px;
        margin: 0 auto;
        display: block;
    }
}
.menubtn3Show{
    display: none;
    margin-left: -25px;
    & a{
        background: $Bg-dark;
        color: $primey;
        width: 80%;
        line-height: 30px;
    }
    & li:nth-child(1) > a::after{
        content: "";
        background: #939393;
        width: 70%;
        height: 1px;
        margin: 0 auto;
        display: block;
    }
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    background: $Bg-dark;
    @include mobile{
        height: 60px;
        font-size: $f-0;
    }
}
.footer_nav{
    justify-content: space-between;
    & ul{
        margin-left: 40px;
        @include mobile{
            flex-wrap: wrap;
        }
        & li{
            margin-right: 10px;
        }
        & a{
            font-size: $f-2;
            color: $secondary;
            margin-left: 0.5rem;
            @include mobile{
                font-size: $f-0;
            }
        }
        & a:hover{
            color: $hoeverColor;
        }
        & a::after{
            border: 1px solid #939393;
            content: "";
            margin-left: 15px;
        }
        & p::after{
            border: 1px solid #939393;
            content: "";
            margin-left: 15px;
        }
        @include mobile{
            margin-left: 0;
            width: 100%;
            justify-content: center;
        }
    }
}
.repalyBtn{
    margin-right: 60px;
    @include mobile{
        display: none;
    }
}
.repalyBtn::after{
    border: 1px solid #939393;
    content: "";
    margin-left: 15px;
}
.repalyBtn::before{
    border: 1px solid #939393;
    content: "";
    margin-right: 15px;
}
//手機選單
.mobileBtn{
    display: none;
    color: $primey;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0,-50%);
    @include mobile{
        display: block;
        font-size: $f-3;
    }
}
//位置地圖
.mapPic{
    position: absolute;
    left: 38%;
    z-index: 15;
    width: 385px;
    height: 355px;
    bottom: -50%;
    @include mobile{
        position: fixed;
        display: none;
        z-index: 999;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: url(../images/menuSmallBg.png);
        left: 0;
        align-items: center;
        bottom: 0;
        & img{
            width: 100%;
            transform: translateY(30%);
        }
    }
}
.btnConse{
    background-image: url(../images/layout_off.png);
    width: 37px;
    height: 37px;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    transition: all .5s;
    @include mobile{
        display: none;
    }
    &:hover{
        transform: rotate(360deg);
    }
}
//假讀取
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #444;
    text-align: center;
    z-index: 30;
    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//手機選單
.mobile_menu{
    width: 70%;
    background-color: #7F7F7F;
    height: 100%;
    position: fixed;
    right: -85%;
    top: 40px;
    & > li > a{
        background-color: #666;
        border-bottom: 1px solid #000;
        font-size: 16px;
        line-height: 50px;
        font-weight: bold;
        color: #fff;
        text-indent: 20px;
        cursor: pointer;
        width: 100%;
    }
}
.mobileClose{
    display: none;
    position: absolute;
    right: 5%;
    top: 18%;
    & i{
        font-size: 26px;
        color: $secondary;
    }
}
.mobileMenu1{
    display: none;
}
.mobileMenu2{
    display: none;
}
.mobileMenu3{
    display: none;
}
.mobileNav{
    width: 100%;
    height: 40px;
    background-color: #222;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    line-height: 40px;
    text-indent: 40px;
    color: #fff;
}