$Bg-dark:#3e3a39;
$primey:#dcdcdc;
$hoeverColor:#f00;
$font-color:#fff;
$secondary:#b0a800;
$tiitlePrimay:#8b8623;
$h2-Primery:#75722a;
//顏色結束

//字體大小
$f-0:14px;
$f-1:1rem;
$f-2:1.375rem;  //22
$f-3:1.5rem;   //24px

$titleFz:18px;

